<% include header %>
<div class="wrap">
  <div class="box">
      <input type="file" name="thumbnail" class="btn file">
      <input type="submit" class="btn submit">
    <p>准备就绪...</p>
  </div>
</div>
<% include footer %>